*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{


 border-bottom: 3px solid #F1CDB3;

}


ul,
ol,
li {
    list-style: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    line-height: 1;
    background-color:#fff;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.wrapper {
    background-color: #FFF;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/*================================================*/

.header {
    width:100%;
    height: 180px;
}
.header_container {
    margin: 60px 40px 60px 40px;
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inform {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    display: flex;
}
.header_logo {
font-family: Georgia;
font-weight: 400;
font-size: 32px;
letter-spacing: 0.06em;
color: #F1CDB3;
}


.header_text {
font-family: Arial;
font-weight: 400;
font-size: 13px;
letter-spacing: 0.1em;
color: #F1CDB3;
}
.header_menu {
    
    
}
.menu_list {
    display: flex;
    justify-content: space-between;
    
}
.menu_item {
margin: 0px 0px 0px 35px;
}




.menu_link {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    margin: 10px 0px;
}


/*========================*/

.page {
    flex: 1 1 auto;
}

.backimg{
 background: url('../img/mainblock/cover.jpg') no-repeat;
 background-size: 100% 100%;
}

.page_main-block {
    

}

.page_container {
    margin: 60px 40px 0px 40px;
    width: 1200px;
    height: 728px;
    display: flex;
    justify-content: space-between;
   
}

.page_body {
    flex-direction: column;
    height: 100%;
    max-width: 460px;
    justify-content: space-between;
    display: flex;
    padding: 163px 0px 244px 0px;
    
}


.page_title {
width: 310px;
font-family: Georgia;
font-weight: 400;
font-size: 44px;
line-height: 130%;
display: flex;
align-items: center;
color: #FFFFFF
}

.page_inform {
font-family: Arial;
font-weight: 400;
font-size: 15px;
line-height: 160%;
display: flex;
align-items: center;
color: #CDCDCD;
}

.page_button {
display: flex;
align-items: center;
justify-content: center;
padding: 15px 45px;
width: 207px;
height: 52px;
bottom: 244px;
background: #F1CDB3;
border-radius: 100px;
}

.page_button_btn {
font-weight: 400;
font-size: 17px;
letter-spacing: 0.1px;
color: #292929;
}
.page_container_img{
    margin: 0px 0px 0px 21px;
}


.page_about {
    width: 1280px;
    height: 588px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    
}
.page_about_img {
    margin: 80px 60px 100px 175px;
}
.page_about_body {
    margin: 94px 175px 114px 60px ;
    flex-direction: column;
    display: flex;
    width: 430px;
    justify-content: space-between;
}
.page_about_title {
max-width: 370px;
height: 90px;
font-family: Georgia;
font-weight: 400;
font-size: 35px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
}
.page_about_inform {
font-family: Arial;
font-weight: 400;
font-size: 15px;
line-height: 160%;
display: flex;
align-items: center;
color: #4C4C4C;
}


.goods {
    width: 1280px;
    height: 877px;
    background: #F6F6F6;
    flex-direction: column;
    align-content: center;
    
}
.goods_header {

}
.goods_body {
}
.goods_column {
}
.goods_item {
}
.goods_name {
}
.goods_button {
}
.goods_button_btn {
}
.goods_footer {
}
.goods_rest {
}
.goods_rest_btn {
}



