*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    background-color: #fafafa;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

/*================================================*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}


.header_container {
    display: flex;
    min-height: 60px;
    align-items: center;
}
._container {
    position: absolute;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 60px;
}

.header__inform{
    display: block;
}

.header__logo {
    font-weight: 400;
    font-size: 32px; 
    flex: none;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.header__text {
    margin-top: 10px;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    /*color: #FFFFFF;*/
}
.header__menu {
    margin: 0px 0px 0px 573px;
}
.menu {
    padding: 16px 0px 20px 0px;
}
.menu__list {
    display: flex;
}

.menu__item {
    flex: none; 
    margin: 0px 0px 0px 35px;
     
    }




.menu__link {
    font-size: 15px;
    color: #CDCDCD;
    font-weight: 400;
}

.menu__link :first-child {
    border-bottom: 1px solid currentColor;
    color: #FAFAFA;
    
}