body {
    margin: 0 auto;
    max-width: 1280px;
    font-family: Georgia, 'Times New Roman', serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1{
    margin: 0;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

h2{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

h3{
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}

h4{
font-family: Georgia;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
margin: 0;
}

/********************/

header{
    padding: 30px 0px;
    background: #FFFFFF;
    height: 60px;
}

.friends{
    height: 1162px;
    background: #F6F6F6;
    padding: 80px 0px 100px 0px;
}

footer{
    height: 310px;
    padding: 40px 40px 0px 40px;
    background: url(../img/footer/footer-gradient-background.png) no-repeat;
}

.header-wrapper{
    margin: 0px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.friends-wrapper{
    height: 1162px;
    display:flex;
    flex-direction: column;
    margin: 0px 40px;
    align-items: center;
    justify-content: space-between;
}

.footer-wrapper{
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-between;
}

/******header********/

.header__logo {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

.header__logo__logo-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.header__logo__logo-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.header-menu {
    display: flex;
}

.menu-list {
    width: 443px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-item {
}

.menu-link {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    margin: 10px 0px;
}

li:nth-of-type(2){
    border-bottom: 3px solid #F1CDB3;
}

/*li.menu-link:nth-of-type(2){
    font-size: 20px;
    line-height: 160%; 
}


/*******friends*******/

.friends-description{
    height: 900px;
    width: 1200px;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.description_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.description_item * {
    margin-bottom: 30px;
}

.description_item:hover{
    cursor: pointer;
}

.btn{
    height: 52px;
    padding: 15px 45px;
    background: #FAFAFA;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
}

.btn:hover{
    cursor: pointer;
    background: #F1CDB3;
}

.friends-navigation{
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.friends-navigation a{
    height: 52px;
    width: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}
.friends-navigation a:nth-of-type(1),
.friends-navigation a:nth-of-type(2){
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.friends-navigation a:nth-of-type(3){
    background: #F1CDB3;
}


/*************footer************/

.footer-contacts{
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0px 60px 0px;
}

.footer-contacts-form{
    display: flex;
    align-items: center;
}

.footer-contacts h4{
    margin-left: 20px;
}







